/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Header */

	.dropotron.level-0 {
		font-size: 1em;
	}

/* Banner */

	#banner {
		background-attachment: scroll;
		padding: 5% 0;
	}
	
	
	.reg-container {
    margin-left: auto;
    margin-right: auto;
    width:60%;
}


.login-container {
    margin-left: auto;
    margin-right: auto;
    width:40%;
}


#partner_gallery_container{
	width:80%;
	}