/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}

/* Header */

	.dropotron.level-0 {
		font-size: 1em;
	}

/* Banner */

	#banner {
		background-attachment: scroll;
		padding: 5% 0;
	}
	
	
	.reg-container {
    margin-left: auto;
    margin-right: auto;
    width:60%;
}


.login-container {
    margin-left: auto;
    margin-right: auto;
    width:40%;
}


#partner_gallery_container{
	width:80%;
	}
	
		.booking-details-container {
    margin-left: auto;
    margin-right: auto;
    width:80%;
}


.invoice-box {
    width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}



#personalDetails{
	width:60%;
}