/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 5%;
	}
	
	.reg-container {
    margin-left: auto;
    margin-right: auto;
    width:50%;
}


.login-container {
    margin-left: auto;
    margin-right: auto;
    width:30%;
}


#partner_gallery_container{
	width:50%;
	}